* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #2f3338;
	background-image: url(../img/bg.png);
	font-family: "source-sans-pro";
	color: #f2f2f2;
	padding-bottom: 3em;
}

a {
	-webkit-transition: all .3s linear;
	transition: all .3s linear;
}

p {
	font-size: 1.1em;
	font-weight: 300;
	margin: 0 0 1em;
}

.wrapper {
	width: 840px;
	margin: 0 auto;
}

.github-ribbon {
	position: fixed;
	top: 0;
	right: 0;
	border: 0;
}

/* ==========================================================================
   Header
   ========================================================================== */

.title {
	margin: .5em auto 0;
	font-size: 5em;
	color: #50fa7b;
	text-align: center;
	font-family: "abril-text";
}

.subtitle {
	font-size: 1.3em;
	margin: .5em auto 0;
	text-align: center;
	font-weight: 300;
}

.preview {
	margin: 0 auto;
	display: block;
	height: auto;
	max-width: 100%;
}

/* Credits
   ========================================================================== */

.credits {
	text-align: center;
	font-size: 1.3em;
	margin: 0 0 2em;
}

.credits a {
	text-decoration: none;
	color: #8be9fd;
	color: rgba(139, 233, 253, 1);
}

.credits a:hover {
	color: #8be9fd;
	color: rgba(139, 233, 253, .7);
}

.credits .love {
  display: inline-block;
  position: relative;
  top: .2em;
  font-size: 1.4em;
  color: #ff79c6;
  -webkit-transform: scale(.9);
  -moz-transform: scale(.9);
  transform: scale(.9);
  -webkit-animation: love .5s infinite linear alternate-reverse;
  -moz-animation: love .5s infinite linear alternate-reverse;
  animation: love .5s infinite linear alternate-reverse;
}

@-webkit-keyframes love {
  to { -webkit-transform: scale(1.1); }
}

@-moz-keyframes love {
  to { -moz-transform: scale(1.1); }
}

@keyframes love {
  to { transform: scale(1.1); }
}

/* ==========================================================================
   Instructions
   ========================================================================== */

h3 {
	font-family: "abril-text";
	text-align: left;
	color: #ff79c6;
	font-size: 3em;
	margin: 1em 0 0;
}

h4 {
	font-size: 2em;
	font-weight: 300;
	margin: 1em 0 .3em;
}

code {
	font-weight: 300;
	font-family: "source-sans-pro";
}

pre {
	background-color: #252525;
	padding: 20px;
	margin: 0 0 2em 0;
	border-radius: 5px;
	white-space: pre-wrap;
	word-wrap: break-word;
	overflow-wrap: break-word;
}

ol {
	font-size: 1.1em;
	font-weight: 300;
	margin-left: 25px;
}

/* Sublime
   ========================================================================== */

.sublime a,
.sublime code,
.sublime h3 {
	color: #ffb86c;
	color: rgba(255, 184, 108, 1);
}

.sublime a:hover {
	color: #ffb86c;
	color: rgba(255, 184, 108, .7);	
}

.sublime h3 {
	margin-top: 0;
}

/* TextMate
   ========================================================================== */

.textmate a,
.textmate code,
.textmate h3 {
	color: #ff79c6;
	color: rgba(255, 121, 198, 1);
}

.textmate a:hover {
	color: #ff79c6;
	color: rgba(255, 121, 198, .7);	
}

.textmate h3 {
	margin-top: 0;
}

/* ==========================================================================
   Small screens
   ========================================================================== */

@media (max-width: 840px) {
	.wrapper {
		width: auto;
	}

	.instructions {
		padding-left: 1.5em;
		padding-right: 1.5em;
	}

	.github-ribbon {
		position: absolute;
	}
}


@media (max-width: 480px) {
	.title {
		font-size: 4em;
	}

	p, .subtitle, .credits {
		font-size: 1.1em;
	}

	h3 {
		font-size: 2em;
	}

	h4 {
		font-size: 1.6em;
	}
}