[submodule "ableton-live"]
	path = ableton-live
	url = git@github.com:dracula/ableton-live
[submodule "adobe"]
	path = adobe
	url = git@github.com:dracula/adobe
[submodule "alacritty"]
	path = alacritty
	url = https://github.com/dracula/alacritty
[submodule "alfred"]
	path = alfred
	url = https://github.com/dracula/alfred
[submodule "arduino-ide"]
	path = arduino-ide
	url = https://github.com/dracula/arduino-ide
[submodule "aseprite"]
	path = aseprite
	url = git@github.com:dracula/aseprite
[submodule "atom"]
	path = atom
	url = https://github.com/dracula/atom
[submodule "b4x"]
	path = b4x
	url = git@github.com:dracula/b4x
[submodule "base16"]
	path = base16
	url = https://github.com/dracula/base16
[submodule "bbedit"]
	path = bbedit
	url = https://github.com/dracula/bbedit
[submodule "blender"]
	path = blender
	url = https://github.com/dracula/blender
[submodule "brackets"]
	path = brackets
	url = https://github.com/dracula/brackets
[submodule "bspwm"]
	path = bspwm
	url = git@github.com:dracula/bspwm
[submodule "chrome-devtools"]
	path = chrome-devtools
	url = https://github.com/dracula/chrome-devtools
[submodule "cmder"]
	path = cmder
	url = https://github.com/dracula/cmder
[submodule "coda"]
	path = coda
	url = https://github.com/dracula/coda
[submodule "conemu"]
	path = conemu
	url = https://github.com/dracula/conemu
[submodule "coteditor"]
	path = coteditor
	url = https://github.com/dracula/coteditor
[submodule "couscous"]
	path = couscous
	url = https://github.com/dracula/couscous
[submodule "discourse"]
	path = discourse
	url = git@github.com:dracula/discourse
[submodule "doom-emacs"]
	path = doom-emacs
	url = git@github.com:dracula/doom-emacs
[submodule "duckduckgo"]
	path = duckduckgo
	url = https://github.com/dracula/duckduckgo
[submodule "eclipse"]
	path = eclipse
	url = git@github.com:dracula/eclipse
[submodule "editplus"]
	path = editplus
	url = https://github.com/dracula/editplus
[submodule "emacs"]
	path = emacs
	url = https://github.com/dracula/emacs
[submodule "fb-messenger"]
	path = fb-messenger
	url = https://github.com/dracula/fb-messenger
[submodule "figma"]
	path = figma
	url = git@github.com:dracula/figma
[submodule "fish"]
	path = fish
	url = https://github.com/dracula/fish
[submodule "gamemaker-studio"]
	path = gamemaker-studio
	url = https://github.com/dracula/gamemaker-studio
[submodule "geany"]
	path = geany
	url = https://github.com/dracula/geany
[submodule "gedit"]
	path = gedit
	url = https://github.com/dracula/gedit
[submodule "gh-pages"]
	path = gh-pages
	url = https://github.com/dracula/gh-pages
[submodule "gitk"]
	path = gitk
	url = https://github.com/dracula/gitk
[submodule "gmk"]
	path = gmk
	url = https://github.com/dracula/gmk
[submodule "gnome-terminal"]
	path = gnome-terminal
	url = https://github.com/dracula/gnome-terminal
[submodule "godot"]
	path = godot
	url = git@github.com:dracula/godot
[submodule "gtk"]
	path = gtk
	url = git@github.com:dracula/gtk
[submodule "highlightjs"]
	path = highlightjs
	url = https://github.com/dracula/highlightjs
[submodule "hyper"]
	path = hyper
	url = https://github.com/dracula/hyper
[submodule "i3"]
	path = i3
	url = https://github.com/dracula/i3
[submodule "insomnia"]
	path = insomnia
	url = https://github.com/dracula/insomnia
[submodule "iterm"]
	path = iterm
	url = https://github.com/dracula/iterm
[submodule "javadoc"]
	path = javadoc
	url = git@github.com:dracula/javadoc
[submodule "jetbrains"]
	path = jetbrains
	url = https://github.com/dracula/jetbrains
[submodule "jgrasp"]
	path = jgrasp
	url = https://github.com/dracula/jgrasp
[submodule "kakoune"]
	path = kakoune
	url = git@github.com:dracula/kakoune
[submodule "kate"]
	path = kate
	url = https://github.com/dracula/kate
[submodule "kitty"]
	path = kitty
	url = https://github.com/dracula/kitty
[submodule "konsole"]
	path = konsole
	url = https://github.com/dracula/konsole
[submodule "light-table"]
	path = light-table
	url = https://github.com/dracula/light-table
[submodule "lightpaper"]
	path = lightpaper
	url = https://github.com/dracula/lightpaper
[submodule "limechat"]
	path = limechat
	url = https://github.com/dracula/limechat
[submodule "macdown"]
	path = macdown
	url = https://github.com/dracula/macdown
[submodule "mailspring"]
	path = mailspring
	url = git@github.com:dracula/mailspring
[submodule "marp"]
	path = marp
	url = git@github.com:dracula/marp
[submodule "matlab"]
	path = matlab
	url = git@github.com:dracula/matlab
[submodule "mattermost"]
	path = mattermost
	url = https://github.com/dracula/mattermost
[submodule "mindnode"]
	path = mindnode
	url = https://github.com/dracula/mindnode
[submodule "mintty"]
	path = mintty
	url = https://github.com/dracula/mintty
[submodule "mobaxterm"]
	path = mobaxterm
	url = https://github.com/dracula/mobaxterm
[submodule "monodevelop"]
	path = monodevelop
	url = https://github.com/dracula/monodevelop
[submodule "musicbee"]
	path = musicbee
	url = git@github.com:dracula/musicbee
[submodule "mutt"]
	path = mutt
	url = https://github.com/dracula/mutt
[submodule "notepad-plus-plus"]
	path = notepad-plus-plus
	url = https://github.com/dracula/notepad-plus-plus
[submodule "nylas-n1"]
	path = nylas-n1
	url = https://github.com/dracula/nylas-n1
[submodule "powershell"]
	path = powershell
	url = https://github.com/dracula/powershell
[submodule "prism"]
	path = prism
	url = https://github.com/dracula/prism
[submodule "pygments"]
	path = pygments
	url = https://github.com/dracula/pygments
[submodule "pythonista"]
	path = pythonista
	url = https://github.com/dracula/pythonista
[submodule "qtcreator"]
	path = qtcreator
	url = https://github.com/dracula/qtcreator
[submodule "quassel"]
	path = quassel
	url = https://github.com/dracula/quassel
[submodule "quiver"]
	path = quiver
	url = https://github.com/dracula/quiver
[submodule "react-devtools"]
	path = react-devtools
	url = https://github.com/dracula/react-devtools
[submodule "sketch"]
	path = sketch
	url = git@github.com:dracula/sketch
[submodule "sequel-pro"]
	path = sequel-pro
	url = https://github.com/dracula/sequel-pro
[submodule "slack"]
	path = slack
	url = https://github.com/dracula/slack
[submodule "spacemacs"]
	path = spacemacs
	url = git@github.com:dracula/spacemacs
[submodule "sql-developer"]
	path = sql-developer
	url = https://github.com/dracula/sql-developer
[submodule "steam"]
	path = steam
	url = https://github.com/dracula/steam
[submodule "sublime"]
	path = sublime
	url = https://github.com/dracula/sublime
[submodule "tabletop-simulator"]
	path = tabletop-simulator
	url = git@github.com:dracula/tabletop-simulator
[submodule "telegram"]
	path = telegram
	url = https://github.com/dracula/telegram
[submodule "telegram-android"]
	path = telegram-android
	url = https://github.com/dracula/telegram-android
[submodule "terminal-app"]
	path = terminal-app
	url = https://github.com/dracula/terminal.app
[submodule "termite"]
	path = termite
	url = https://github.com/dracula/termite
[submodule "termux"]
	path = termux
	url = https://github.com/dracula/termux
[submodule "textmate"]
	path = textmate
	url = https://github.com/dracula/textmate
[submodule "textual"]
	path = textual
	url = https://github.com/dracula/textual
[submodule "thonny"]
	path = thonny
	url = git@github.com:dracula/thonny
[submodule "tilix"]
	path = tilix
	url = https://github.com/dracula/tilix
[submodule "tmux"]
	path = tmux
	url = git@github.com:dracula/tmux
[submodule "total-commander"]
	path = total-commander
	url = git@github.com:dracula/total-commander
[submodule "tower"]
	path = tower
	url = git@github.com:dracula/tower
[submodule "typora"]
	path = typora
	url = https://github.com/dracula/typora
[submodule "ulysses"]
	path = ulysses
	url = https://github.com/dracula/ulysses
[submodule "vim"]
	path = vim
	url = https://github.com/dracula/vim
[submodule "vimium"]
	path = vimium
	url = https://github.com/dracula/vimium
[submodule "visual-studio"]
	path = visual-studio
	url = https://github.com/dracula/visual-studio
[submodule "visual-studio-code"]
	path = visual-studio-code
	url = https://github.com/dracula/visual-studio-code
[submodule "vivaldi"]
	path = vivaldi
	url = https://github.com/dracula/vivaldi
[submodule "windows-terminal"]
	path = windows-terminal
	url = https://github.com/dracula/windows-terminal
[submodule "wing"]
	path = wing
	url = https://github.com/dracula/wing
[submodule "wordpress"]
	path = wordpress
	url = https://github.com/dracula/wordpress
[submodule "wox"]
	path = wox
	url = https://github.com/dracula/wox
[submodule "xchat"]
	path = xchat
	url = https://github.com/dracula/xchat
[submodule "xcode"]
	path = xcode
	url = https://github.com/dracula/xcode
[submodule "xresources"]
	path = xresources
	url = https://github.com/dracula/xresources
[submodule "zsh"]
	path = zsh
	url = https://github.com/dracula/zsh
[submodule "pywal"]
	path = pywal
	url = git@github.com:dracula/pywal
[submodule "idle"]
	path = idle
	url = git@github.com:dracula/idle
[submodule "zathura"]
	path = zathura
	url = git@github.com:dracula/zathura
[submodule "tiddlywiki"]
	path = tiddlywiki
	url = git@github.com:dracula/tiddlywiki
[submodule "plank"]
	path = plank
	url = git@github.com:dracula/plank
[submodule "betterdiscord"]
	path = betterdiscord
	url = git@github.com:dracula/betterdiscord
[submodule "thelounge"]
	path = thelounge
	url = git@github.com:dracula/thelounge
[submodule "colorls"]
	path = colorls
	url = git@github.com:dracula/colorls
[submodule "roam-research"]
	path = roam-research
	url = git@github.com:dracula/roam-research
[submodule "obsidian"]
	path = obsidian
	url = git@github.com:dracula/obsidian
[submodule "adminer"]
	path = adminer
	url = git@github.com:dracula/adminer
[submodule "micro"]
	path = micro
	url = git@github.com:dracula/micro
[submodule "renoise"]
	path = renoise
	url = git@github.com:dracula/renoise
[submodule "fman"]
	path = fman
	url = git@github.com:dracula/fman
[submodule "copyq"]
	path = copyq
	url = git@github.com:dracula/copyq
[submodule "cryptowatch"]
	path = cryptowatch
	url = git@github.com:dracula/cryptowatch
[submodule "midnight-commander"]
	path = midnight-commander
	url = git@github.com:dracula/midnight-commander
[submodule "keypirinha"]
	path = keypirinha
	url = https://github.com/dracula/keypirinha.git
[submodule "mousepad"]
	path = mousepad
	url = git@github.com:dracula/mousepad
[submodule "linear"]
	path = linear
	url = git@github.com:dracula/linear
[submodule "albert"]
	path = albert
	url = git@github.com:dracula/albert
[submodule "arduino-pro-ide"]
	path = arduino-pro-ide
	url = git@github.com:dracula/arduino-pro-ide
[submodule "kicad"]
	path = kicad
	url = git@github.com:dracula/kicad
[submodule "standard-notes"]
	path = standard-notes
	url = git@github.com:dracula/standard-notes
[submodule "thunderbird"]
	path = thunderbird
	url = git@github.com:dracula/thunderbird
[submodule "liteide"]
	path = liteide
	url = git@github.com:dracula/liteide
[submodule "bashtop"]
	path = bashtop
	url = git@github.com:dracula/bashtop
[submodule "logseq"]
	path = logseq
	url = git@github.com:dracula/logseq
[submodule "qt5"]
	path = qt5
	url = git@github.com:dracula/qt5
[submodule "terminator"]
	path = terminator
	url = git@github.com:dracula/terminator
[submodule "telegram-ios"]
	path = telegram-ios
	url = git@github.com:dracula/telegram-ios
[submodule "ida"]
	path = ida
	url = git@github.com:dracula/ida
[submodule "netbeans"]
	path = netbeans
	url = git@github.com:dracula/netbeans
[submodule "xournalpp"]
	path = xournalpp
	url = git@github.com:dracula/xournalpp
[submodule "ditto"]
	path = ditto
	url = git@github.com:dracula/ditto
[submodule "matplotlib"]
	path = matplotlib
	url = git@github.com:dracula/matplotlib
[submodule "nova"]
	path = nova
	url = git@github.com:dracula/nova
