[submodule "atom"]
	path = atom
	url = https://github.com/dracula/atom
[submodule "alfred"]
	path = alfred
	url = https://github.com/dracula/alfred
[submodule "base16"]
	path = base16
	url = https://github.com/dracula/base16
[submodule "bbedit"]
	path = bbedit
	url = https://github.com/dracula/bbedit
[submodule "brackets"]
	path = brackets
	url = https://github.com/dracula/brackets
[submodule "chrome-devtools"]
	path = chrome-devtools
	url = https://github.com/dracula/chrome-devtools
[submodule "coda"]
	path = coda
	url = https://github.com/dracula/coda
[submodule "conemu"]
	path = conemu
	url = https://github.com/dracula/conemu
[submodule "emacs"]
	path = emacs
	url = https://github.com/dracula/emacs
[submodule "gedit"]
	path = gedit
	url = https://github.com/dracula/gedit
[submodule "highlightjs"]
	path = highlightjs
	url = https://github.com/dracula/highlightjs
[submodule "hyper"]
	path = hyper
	url = https://github.com/dracula/hyper
[submodule "iterm"]
	path = iterm
	url = https://github.com/dracula/iterm
[submodule "jetbrains"]
	path = jetbrains
	url = https://github.com/dracula/jetbrains
[submodule "kate"]
	path = kate
	url = https://github.com/dracula/kate
[submodule "konsole"]
	path = konsole
	url = https://github.com/dracula/konsole
[submodule "light-table"]
	path = light-table
	url = https://github.com/dracula/light-table
[submodule "lightpaper"]
	path = lightpaper
	url = https://github.com/dracula/lightpaper
[submodule "liteide"]
	path = liteide
	url = https://github.com/dracula/liteide
[submodule "macdown"]
	path = macdown
	url = https://github.com/dracula/macdown
[submodule "mintty"]
	path = mintty
	url = https://github.com/dracula/mintty
[submodule "monodevelop"]
	path = monodevelop
	url = https://github.com/dracula/monodevelop
[submodule "notepad-plus-plus"]
	path = notepad-plus-plus
	url = https://github.com/dracula/notepad-plus-plus
[submodule "nylas-n1"]
	path = nylas-n1
	url = https://github.com/dracula/nylas-n1
[submodule "pygments"]
	path = pygments
	url = https://github.com/dracula/pygments
[submodule "qtcreator"]
	path = qtcreator
	url = https://github.com/dracula/qtcreator
[submodule "quassel"]
	path = quassel
	url = https://github.com/dracula/quassel
[submodule "quiver"]
	path = quiver
	url = https://github.com/dracula/quiver
[submodule "sequel-pro"]
	path = sequel-pro
	url = https://github.com/dracula/sequel-pro
[submodule "slack"]
	path = slack
	url = https://github.com/dracula/slack
[submodule "sublime"]
	path = sublime
	url = https://github.com/dracula/sublime
[submodule "telegram"]
	path = telegram
	url = https://github.com/dracula/telegram
[submodule "terminal-app"]
	path = terminal-app
	url = https://github.com/dracula/terminal.app
[submodule "textmate"]
	path = textmate
	url = https://github.com/dracula/textmate
[submodule "textual"]
	path = textual
	url = https://github.com/dracula/textual
[submodule "ulysses"]
	path = ulysses
	url = https://github.com/dracula/ulysses
[submodule "vim"]
	path = vim
	url = https://github.com/dracula/vim
[submodule "visual-studio"]
	path = visual-studio
	url = https://github.com/dracula/visual-studio
[submodule "visual-studio-code"]
	path = visual-studio-code
	url = https://github.com/dracula/visual-studio-code
[submodule "wox"]
	path = wox
	url = https://github.com/dracula/wox
[submodule "xchat"]
	path = xchat
	url = https://github.com/dracula/xchat
[submodule "xcode"]
	path = xcode
	url = https://github.com/dracula/xcode
[submodule "xresources"]
	path = xresources
	url = https://github.com/dracula/xresources
[submodule "zsh"]
	path = zsh
	url = https://github.com/dracula/zsh