<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>uv@mrabebpun.pbz</string>
	<key>contactName</key>
	<string>Zeno Rocha</string>
	<key>description</key>
	<string>A dark theme for Sublime Text and TextMate.</string>
	<key>name</key>
	<string>Dracula</string>
	<key>uuid</key>
	<string>83091B89-765E-4F0D-9275-0EC6CB084126</string>
</dict>
</plist>
