<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="author" content="{{ site.author }}">
	<meta name="description" content="{% if page.title %}A dark theme for {{ page.title }} and more{% else %}{{ site.description }}{% endif %}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<meta property="og:title" content="{{ site.name }}{% if page.title %} · {{ page.title }}{% endif %}">
	<meta property="og:description" content="{% if page.title %}A dark theme for {{ page.title }} and more{% else %}{{ site.description }}{% endif %}">
	<meta property="og:url" content="https://zenorocha.github.io/dracula-theme{% if page.url %}{{ page.url }}{% endif %}">
	<meta property="og:image" content="https://zenorocha.github.io/dracula-theme/assets/img/facebook.png">

	<title>{{ site.name }} &mdash; {% if page.title %}A dark theme for {{ page.title }} and more{% else %}{{ site.description }}{% endif %}</title>

	<link rel="stylesheet" href="//cdn.jsdelivr.net/flexboxgrid/6.3.0/flexboxgrid.min.css" type="text/css" >
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
	<link rel="icon" type="image/x-icon" href="{{ site.baseurl }}/assets/img/favicon.ico">

	<script type="text/javascript" src="//use.typekit.net/wjm5nzc.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body class="{% if page.color %}{{ page.color }}{% else %}green{% endif %}">
	<div class="container-fluid">
		<header class="header row center-xs">
			<div class="col-xs-12">
				<a href="{{ site.baseurl }}/">
					<img src="{{ site.baseurl }}/assets/img/icon-{% if page.icon %}{{ page.icon }}{% else %}dracula{% endif %}.png" width="{% if page.icon_width %}{{ page.icon_width }}{% else %}168{% endif %}" height="{% if page.icon_height %}{{ page.icon_height }}{% else %}176{% endif %}" alt="{% if page.title %}{{ page.title }}{% else %}Dracula{% endif %}">
					<h1 class="title">Dracula</h1>
				</a>
				<h2 class="subtitle">A dark theme for {% if page.title %}{{ page.title }} <a href="{{ site.baseurl }}/">and more</a>{% else %}<span class="rotating"></span>{% endif %}</h2>
				<p class="gh-btns">
					<iframe src="https://ghbtns.com/github-btn.html?user=zenorocha&amp;repo=dracula-theme&amp;type=watch&amp;count=true&amp;size=large" allowtransparency="true" frameborder="0" scrolling="0" width="152" height="30"></iframe>
					<iframe src="https://ghbtns.com/github-btn.html?user=zenorocha&amp;repo=dracula-theme&amp;type=fork&amp;count=true&amp;size=large" allowtransparency="true" frameborder="0" scrolling="0" width="156" height="30"></iframe>
				</p>
			</div>
		</header>