<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="author" content="{{ site.author }}">
	<meta name="description" content="{{ site.description }}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>{{ site.name }} &mdash; {{ site.description }}</title>

	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
	<link rel="icon" type="image/x-icon" href="{{ site.baseurl }}/assets/img/favicon.ico">

	<script type="text/javascript" src="//use.typekit.net/wjm5nzc.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body class="{{ page.name }}">
	<div class="wrapper">
		<h1 class="title">Dracula</h1>