$background: #1E1F29;
$current_line: #44475a;
$selection: #44475a;
$foreground: #f8f8f2;
$comment: #6272a4;
$cyan: #8be9fd;
$green:	#50fa7b;
$orange:	#ffb86c;
$pink:	#ff79c6;
$purple:	#bd93f9;
$red:	#ff5555;
$yellow:	#f1fa8c;

/* Basic Body Structure */

* {
	margin: 0;
	padding: 0;
	font-size: 100%;
	word-wrap: break-word;
	line-height: 1.7em;
}

body {
	color: $foreground;
	height: 100%;
 	z-index: 100;
	font-size: 11px;
	overflow: hidden;
	overflow-y: visible;
	background-color: $background;
	font-family: caption;
}

body div#body_home {
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	width: 100%;
	z-index: 100;
	max-height: 99.99%;
	position: absolute;
	opacity: 0; /* Set by JavaScript */
	-webkit-transition: opacity 0.8s linear;
}

body[viewlltype*=channel] div#body_home {
	max-height: 96.5%;
}

body .line {
 	margin-top: -1px;
	clear: both;
}

body[dir=rtl] .sender {
	display: inline-block;
}

/* Loading Screen */

body div#loading_screen {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -11px;
	margin-left: -150px;
	width: 300px;
	height: 21px;
	font-size: 18px;
	background: $background;
	border: 1px solid $selection;
	border-radius: 5px;
	padding: 5px;
	padding-left: 10px;
	opacity: 1; /* Set by JavaScript */
	-webkit-transition: opacity 0.8s linear;
}

/* Time */

body[dir=ltr] .time {
	color: $green;
	white-space: nowrap;
	padding-right: 10px;
}

body[dir=rtl] .time {
	color: $green;
	white-space: nowrap;
	padding-left: 0.4em;
	display: inline-block;
}

/* Encryption Lock */

.encryptionLock img {
	float: right;
	margin: 0;
	padding: 0;
	height: 11px;
	margin-top: 2px;
	padding-left: 10px;
}

/* Links */

a {
	color: $cyan;
	text-decoration: none;
}

a:hover {
	color: darken($cyan, 5%);
}

/* Topic Bar */
#topic_bar {
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  /* Set by JavaScript */
  z-index: 400;
  color: $comment;
  position: fixed;
  padding: 2px 0.5em 3px;
  border-bottom: 1px solid darken($background, 10%);
  text-shadow: 1px 1px rgba(10, 10, 10, 0.7);
  background: darken($background, 5%);
  -webkit-transition: opacity 0.8s linear;
  -webkit-font-smoothing: subpixel-antialiased;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* Topic bar hover additions contributed with permission from the project:
	<https://github.com/hbang/Simplified-Light-Modifications> */

#topic_bar:hover {
	overflow: visible;
	white-space: normal;
}

#topic_bar a {
	color: $cyan;
	text-shadow: 1px 1px rgba(10, 10, 10, 0.7);
}

#topic_bar span.channel {
	border-color: $pink;
	text-shadow: 1px 1px rgba(10, 10, 10, 0.7);
}

/* Images */

.inlineImageCell {
	overflow: auto;
	display: block;
	margin-top: 15px;
	margin-bottom: 12px;
}

.inlineImageCell .image {
	display: inline-block;
	float: left;
	margin-right: 12px;
	margin-left: 10px;
	min-width: 40px;
	max-width: 90%;
}

.inlineImageCell .closeButton {
	cursor: pointer;
	border-radius: 5px;
	border: 2px solid $comment;
	color: $comment;
	display: inline-block;
	line-height: 14px;
	font-size: 15px;
	font-family: caption !important;
	text-indent: 7px;
	width: 16px;
	height: 16px;
	float: left;
	padding-right: 7px;
	padding-left: 0px;
}

html[systemversion^="10.9"] .inlineImageCell .closeButton,
html[systemversion^="10.8"] .inlineImageCell .closeButton {
	line-height: 13px;
}

/* Remember Line */

div[id=mark] {
	position: relative;
	clear: both;
	z-index: 295;
	margin: 10px 0;
	border-bottom: 1px dotted;
	border-color: $current-line;
	-webkit-transition: 0.2s linear;
}

/* Selected User Message */

.sender {
	cursor: pointer;
}

body div.line[ltype*=privmsg]:not(.selectedUser),
body div.line[ltype*=action]:not(.selectedUser) {
    transition-property: border-top, border-bottom, background-color;
	transition-duration: 0.5s, 0.5s, 0.5s;
}

body div.line[ltype*=privmsg] .time:not(.selectedUser),
body div.line[ltype*=action] .time:not(.selectedUser) {
    transition: color 0.5s;
}

body div.line.selectedUser[highlight=false] .time {
    transition: color 0.5s ease-in;
	color: #aaa;
}

body div.line.selectedUser[ltype*=privmsg][mtype*=myself] .time {
	color: $foreground;
}

body div.line.selectedUser[highlight=false] {
  transition-property: border-top, border-bottom, background-color;
  transition-duration: 0.5s, 0.5s, 0.5s;

  z-index: 190;
  position: relative;

	border-top: 0px !important;
	border-bottom: 0px !important;
  background-color: $current-line !important;
}

/* Historic Line */

#historic_messages {
	display: inline-block;
	margin: 0;
	padding: 0;
	opacity: 0.6;
}

/* NOTICE/CTCP/WALLOPS */

body div.line[ltype*=ctcp],
body div.line[ltype*=notice],
body div.line[ltype*=wallops] {
	color: $red;
  	z-index: 191;
	background: $current-line;
  	position: relative;
 	padding: 2px 5px 2px 5px;
}

body div[ltype*=notice] .sender {
	color: $red;
}

/* PRIVMSG */

body div.line[ltype*=privmsg][highlight=false] {
 	padding: 3px 5px 3px 5px;
}

body div.line[ltype*=privmsg][highlight=true],
body div.line[ltype*=action][highlight=true] {
 	padding: 2px 5px 2px 5px;
	border-top: 1px solid $yellow;
	border-bottom: 1px solid $yellow;
  	background-color: darken($yellow, 50%) !important;
}

body div[lltype*="privmsg"] .message {
	color: darken($foreground, 20%);
}

body div[ltype*=privmsg] p[mtype*=myself] .message {
	color: $foreground;
}

body div[ltype*=privmsg] .sender {

}

/* ACTION */

body div.line[ltype*=action] {
 	padding: 3px 5px 3px 5px;
}

body div[lltype*="action"] .message {
	color: darken($foreground, 20%);
}

body div[ltype*=action] .sender {
	color: darken($foreground, 20%);
}

body div[ltype*=action] p[mtype*=myself] .sender,
body div[ltype*=action] p[mtype*=myself] .message {
	color: $purple;
}

body[dir=ltr] div[ltype*=action] .sender:before {
	content: "\2022";
	margin-right: 0.4em;
}

body[dir=ltr] div[ltype*=action] .sender:after {
	content: "";
  	/* margin-right: 0.4em; */
}

body[dir=rtl] div[ltype*=action] .sender:before {
	content: "\2022";
	margin-left: 0.4em;
}

body[dir=rtl] div[ltype*=action] .sender:after {
	content: "";
  	/* margin-left: 0.4em; */
}

/* DEBUG/INVITE */

body div.line[ltype*=invite],
body div.line[ltype*=debug],
body div.line[ltype*=dcc-file-transfer],
body div.line[ltype*=off-the-record-encryption-status] {
	color: darken($foreground, 60%);
  	z-index: 190;
	background: darken($foreground, 80%);
  	position: relative;
 	padding: 2px 5px 2px 5px;
	border-top: 1px solid darken($foreground, 70%);
	border-bottom: 1px solid darken($foreground, 70%);
}

/* off-the-record-encryption-status Message Event */
body div.line[ltype*=off-the-record-encryption-status] .message {
	color: $red;
	font-weight: 700;
}

/* Message of the Day (MOTD) */
/* 720, 721, 722 are used by ShadowIRCd for Oper MOTD. */
/* 372, 375, 376 are normal MOTD shared by several IRCds. */

body div.line[command="372"],
body div.line[command="721"] {
	border: none;
	padding-top: 3px;
	padding-bottom: 3px;
}

body div.line[command="375"],
body div.line[command="720"] { /* Start. */
	border-bottom: none;
	padding-top: 2px;
	padding-bottom: 3px;
}

body div.line[command="376"],
body div.line[command="722"] { /* End. */
	border-top: none;
	padding-top: 3px;
	padding-bottom: 3px;
}

body div.line[command="372"] .message,
body div.line[command="375"] .message,
body div.line[command="376"] .message
body div.line[command="720"] .message,
body div.line[command="721"] .message,
body div.line[command="722"] .message {
	font-family: "Monaco" !important;
}

/* GENERAL EVENT */

body div.line[ltype*=join],
body div.line[ltype*=part],
body div.line[ltype*=kick],
body div.line[ltype*=quit],
body div.line[ltype*=kill],
body div.line[ltype*=nick],
body div.line[ltype*=mode],
body div.line[ltype*=topic],
body div.line[ltype*=website] {
 	padding: 3px 5px 3px 5px;
	color: $comment;
}

body[dir=ltr] div[ltype*=join] .message:before {
	content: "→";
  	color: $green;
  	/* margin-right: 0.4em; */
}

body[dir=ltr] div[ltype*=kick] .message:before,
body[dir=ltr] div[ltype*=part] .message:before,
body[dir=ltr] div[ltype*=quit] .message:before {
	content: "←";
  	color: $red;
  	/* margin-right: 0.4em; */
}

body[dir=ltr] div[ltype*=nick] .message:before {
	content:"•";
  	color: $cyan;
  	/* margin-right: 0.4em; */
}

body[dir=rtl] div[ltype*=join] .message:before {
	content: "→";
  	color: $green;
  	/* margin-left: 0.4em; */
}

body[dir=rtl] div[ltype*=kick] .message:before,
body[dir=rtl] div[ltype*=part] .message:before,
body[dir=rtl] div[ltype*=quit] .message:before {
	content: "←";
  	color: $red;
  	/* margin-left: 0.4em; */
}

body[dir=rtl] div[ltype*=nick] .message:before {
	content:"•";
  	color: $cyan;
  	/* margin-left: 0.4em; */
}

/* Nickname Colors */

body .inline_nickname {

}

body div[ltype*=privmsg] .sender[mtype*=myself] {
	color: $purple;
}

body .sender[mtype*=normal][colornumber='0'],
body .inline_nickname[colornumber='0'] {
	color: $pink;
}

body .sender[mtype*=normal][colornumber='1'],
body .inline_nickname[colornumber='1'] {
	color: $green;
}

body .sender[mtype*=normal][colornumber='2'],
body .inline_nickname[colornumber='2'] {
	color: $cyan;
}

body .sender[mtype*=normal][colornumber='3'],
body .inline_nickname[colornumber='3'] {
	color: $yellow;
}

body .sender[mtype*=normal][colornumber='4'],
body .inline_nickname[colornumber='4'] {
	color: $orange;
}

body .sender[mtype*=normal][colornumber='5'],
body .inline_nickname[colornumber='5'] {
	color: $red;
}

body .sender[mtype*=normal][colornumber='6'],
body .inline_nickname[colornumber='6'] {
	color: darken($purple, 2.5%);
}

body .sender[mtype*=normal][colornumber='7'],
body .inline_nickname[colornumber='7'] {
	color: darken($pink, 2.5%);
}

body .sender[mtype*=normal][colornumber='8'],
body .inline_nickname[colornumber='8'] {
	color: darken($green, 2.5%);
}

body .sender[mtype*=normal][colornumber='9'],
body .inline_nickname[colornumber='9'] {
	color: darken($cyan, 2.5%);
}

body .sender[mtype*=normal][colornumber='10'],
body .inline_nickname[colornumber='10'] {
	color: darken($yellow, 2.5%);
}

body .sender[mtype*=normal][colornumber='11'],
body .inline_nickname[colornumber='11'] {
	color: darken($orange, 2.5%);
}

body .sender[mtype*=normal][colornumber='12'],
body .inline_nickname[colornumber='12'] {
	color: darken($red, 2.5%);
}

body .sender[mtype*=normal][colornumber='13'],
body .inline_nickname[colornumber='13'] {
	color: darken($purple, 5%);
}

body .sender[mtype*=normal][colornumber='14'],
body .inline_nickname[colornumber='14'] {
	color: darken($pink, 5%);
}

body .sender[mtype*=normal][colornumber='15'],
body .inline_nickname[colornumber='15'] {
	color: darken($green, 5%);
}

body .sender[mtype*=normal][colornumber='16'],
body .inline_nickname[colornumber='16'] {
	color: darken($cyan, 5%);
}

body .sender[mtype*=normal][colornumber='17'],
body .inline_nickname[colornumber='17'] {
	color: darken($yellow, 5%);
}

body .sender[mtype*=normal][colornumber='18'],
body .inline_nickname[colornumber='18'] {
	color: darken($orange, 5%);
}

body .sender[mtype*=normal][colornumber='19'],
body .inline_nickname[colornumber='19'] {
	color: darken($red, 5%);
}

body .sender[mtype*=normal][colornumber='20'],
body .inline_nickname[colornumber='20'] {
	color: darken($purple, 7.5%);
}

body .sender[mtype*=normal][colornumber='21'],
body .inline_nickname[colornumber='21'] {
	color: darken($pink, 7.5%);
}

body .sender[mtype*=normal][colornumber='22'],
body .inline_nickname[colornumber='22'] {
	color: darken($green, 7.5%);
}

body .sender[mtype*=normal][colornumber='23'],
body .inline_nickname[colornumber='23'] {
	color: darken($cyan, 7.5%);
}

body .sender[mtype*=normal][colornumber='24'],
body .inline_nickname[colornumber='24'] {
	color: darken($yellow, 7.5%);
}

body .sender[mtype*=normal][colornumber='25'],
body .inline_nickname[colornumber='25'] {
	color: darken($orange, 7.5%);
}

body .sender[mtype*=normal][colornumber='26'],
body .inline_nickname[colornumber='26'] {
	color: darken($red, 7.5%);
}

body .sender[mtype*=normal][colornumber='27'],
body .inline_nickname[colornumber='27'] {
	color: darken($purple, 10%);
}

body .sender[mtype*=normal][colornumber='28'],
body .inline_nickname[colornumber='28'] {
	color: darken($pink, 10%);
}

body .sender[mtype*=normal][colornumber='29'],
body .inline_nickname[colornumber='29'] {
	color: darken($green, 10%);
}

body .sender[mtype*=normal][colornumber='30'],
body .inline_nickname[colornumber='30'] {
	color: darken($cyan, 10%);
}
