<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>hthebmlvyznmry@tznvy.pbz</string>
	<key>contactName</key>
	<string>Uğur "vigo" Özyılmazel</string>
	<key>description</key>
	<string>Dracula theme for TextMate2. You can download more themes from https://draculatheme.com/</string>
	<key>name</key>
	<string>TextMate2 Dracula Theme</string>
	<key>uuid</key>
	<string>415512CD-F92A-480A-B719-F5AFDD2D4CA3</string>
</dict>
</plist>
