* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #2f3338;
	background-image: url(../img/bg.png);
	font-family: "source-sans-pro";
	color: #f2f2f2;
}

a {
	-webkit-transition: all .3s linear;
	transition: all .3s linear;
}

p {
	font-size: 1.1em;
	font-weight: 300;
	margin: 0 0 1em;
}

.wrapper {
	width: 840px;
	margin: 0 auto;
}

.github-ribbon {
	position: fixed;
	top: 0;
	right: 0;
	border: 0;
}

/* ==========================================================================
   Header
   ========================================================================== */

.title {
	margin: .5em auto 0;
	font-size: 5em;
	color: #50fa7b;
	text-align: center;
	font-family: "abril-text";
}

.preview {
	margin: -30px auto 0;
	display: block;
	height: auto;
	max-width: 100%;
}

/* Subtitle
   ========================================================================== */

.subtitle {
	width: 100%;
	text-align: center;
	margin-top: -15px;
}

.subtitle h2 {
	font-size: 1.3em;
	margin: .5em auto 0;
	font-weight: 300;
	display: inline-block;
}

.subtitle a {
	text-decoration: none;
}

.subtitle .caret {
	content: ' ';
	width: 0; 
	height: 3px; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	display: inline-block;
}

.subtitle .sublime .caret {
	border-top: 5px solid #ffb86c;
}

.subtitle .textmate .caret {
	border-top: 5px solid #ff79c6;
}

.subtitle .drop-wrapper {
	text-align: center;
	display: inline-block;
}

.subtitle .drop-wrapper li {
	font-size: 1.3em;
	font-weight: 300;
	cursor: pointer;
	-webkit-transition: padding .05s linear;
	-moz-transition: padding .05s linear;
	-ms-transition: padding .05s linear;
	-o-transition: padding .05s linear;
	transition: padding .05s linear;
}

.subtitle .drop-wrapper li.drop {
	position: relative;
}

.subtitle .drop-wrapper > li {
	display: inline-block;
}

.subtitle .drop-wrapper li a {
	line-height: 80px;
	-webkit-transition: all .1s ease-out;
	-moz-transition: all .1s ease-out;
	-ms-transition: all .1s ease-out;
	-o-transition: all .1s ease-out;
	transition: all .1s ease-out;
}

.subtitle .drop-out li a {
	color: #777;
	line-height: 1em;
	display: block;
	width: 100%;
}

.subtitle .drop-out .triangle {
	width: 0;
	height: 0;
	position: absolute;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid white;
	top: -8px;
	left: 50%;
	margin-left: -8px;
}

.subtitle .dropdown-contain {
	width: 160px;
	position: absolute;
	z-index: 2;
	left: 50%;
	margin-left: -80px; /* half of width */
	top: -400px;
}

.subtitle .drop-out {
	width: 160px;
	background: white;
	float: left;
	position: relative;
	margin-top: 0px;
	opacity: 0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 6px rgba(0,0,0,.15);
	-moz-box-shadow: 0 1px 6px rgba(0,0,0,.15);
	box-shadow: 0 1px 6px rgba(0,0,0,.15);
	-webkit-transition: all .1s ease-out;
	-moz-transition: all .1s ease-out;
	-ms-transition: all .1s ease-out;
	-o-transition: all .1s ease-out;
	transition: all .1s ease-out;
}

.subtitle .drop-out ul {
	float: left;
	padding: 10px 0;
}

.subtitle .drop-out ul li {
	font-size: .9em;
	text-align: left;
	float: left;
	width: 125px;
	padding: 12px 0 10px 15px;
	margin: 0px 10px;
	color: #777;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-transition: background .1s ease-out;
	-moz-transition: background .1s ease-out;
	-ms-transition: background .1s ease-out;
	-o-transition: background .1s ease-out;
	transition: background .1s ease-out;
}

.subtitle .drop-out ul li:hover {
	background: #f6f6f6;
}

.subtitle ul li:hover .dropdown-contain { top: 65px; }
.subtitle ul li:hover .underline { border-bottom-color: #777; }
.subtitle ul li:hover .drop-out { opacity: 1; margin-top: 8px; }

/* Social
   ========================================================================== */

.social-buttons{
  list-style: none;
  margin: 1em auto 2em;
  text-align: center;
}

.social-buttons li{
  display: inline-block;
  margin: 0 5px;
}

.gh-btn {
	width: 80px;
}

.gh-btn iframe {
	border: 0;
	overflow: hidden;
}

.fb-btn {
	width: 82px;
}

/* Credits
   ========================================================================== */

.credits {
	text-align: center;
	font-size: 1.3em;
	margin: -20px 0 2em;
}

.credits a {
	text-decoration: none;
	color: #8be9fd;
	color: rgba(139, 233, 253, 1);
}

.credits a:hover {
	color: #8be9fd;
	color: rgba(139, 233, 253, .7);
}

.credits .love {
  display: inline-block;
  position: relative;
  top: .2em;
  font-size: 1.4em;
  color: #ff79c6;
  -webkit-transform: scale(.9);
  -moz-transform: scale(.9);
  transform: scale(.9);
  -webkit-animation: love .5s infinite linear alternate-reverse;
  -moz-animation: love .5s infinite linear alternate-reverse;
  animation: love .5s infinite linear alternate-reverse;
}

@-webkit-keyframes love {
  to { -webkit-transform: scale(1.1); }
}

@-moz-keyframes love {
  to { -moz-transform: scale(1.1); }
}

@keyframes love {
  to { transform: scale(1.1); }
}

/* ==========================================================================
   Instructions
   ========================================================================== */

h3 {
	font-family: "abril-text";
	text-align: left;
	color: #ff79c6;
	font-size: 3em;
	margin: 1em 0 0;
}

h4 {
	font-size: 2em;
	font-weight: 300;
	margin: 1em 0 .3em;
}

code {
	font-weight: 300;
	font-family: "source-sans-pro";
}

pre {
	background-color: #252525;
	padding: 20px;
	margin: 0 0 2em 0;
	border-radius: 5px;
	white-space: pre-wrap;
	word-wrap: break-word;
	overflow-wrap: break-word;
}

ol {
	font-size: 1.1em;
	font-weight: 300;
	margin-left: 25px;
}

.footer {
	padding: 3em 0 0;
}

/* Sublime
   ========================================================================== */

.sublime a,
.sublime code,
.sublime h3 {
	color: #ffb86c;
	color: rgba(255, 184, 108, 1);
}

.sublime a:hover {
	color: #ffb86c;
	color: rgba(255, 184, 108, .7);	
}

.sublime h3 {
	margin-top: 0;
}

/* TextMate
   ========================================================================== */

.textmate a,
.textmate code,
.textmate h3 {
	color: #ff79c6;
	color: rgba(255, 121, 198, 1);
}

.textmate a:hover {
	color: #ff79c6;
	color: rgba(255, 121, 198, .7);	
}

.textmate h3 {
	margin-top: 0;
}

/* Alfred
   ========================================================================== */

.alfred a,
.alfred code,
.alfred h3 {
	color: #bd93f9;
	color: rgba(189, 147, 249, 1);
}

.alfred a:hover {
	color: #bd93f9;
	color: rgba(189, 147, 249, .7);	
}

.alfred h3 {
	margin-top: 0;
}

/* ==========================================================================
   Small screens
   ========================================================================== */

@media (max-width: 840px) {
	.wrapper {
		width: auto;
	}

	.instructions {
		padding-left: 1.5em;
		padding-right: 1.5em;
	}

	.github-ribbon {
		position: absolute;
	}
}


@media (max-width: 480px) {
	.title {
		font-size: 4em;
	}

	ol, p, .subtitle h2, .credits {
		font-size: 1.09em;
	}

	h3 {
		font-size: 2em;
	}

	h4 {
		font-size: 1.6em;
	}

	.github-ribbon,
	.social-buttons {
		display: none;
	}
}

@media only screen and (max-device-width: 480px) {
	.github-ribbon,
	.social-buttons {
		display: none;
	}
}